<div class="badge badge bg-light text-muted px-2 py-1 me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= t('activerecord.attributes.room.num_guests') %>">
  <i class="fas fa-user-friends me-2"></i><%= room.num_guests %>
</div>
<div class="badge badge bg-light text-muted px-2 py-1 me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= t('activerecord.attributes.room.num_rooms') %>">
  <i class="fas fa-cube me-2"></i><%= room.num_rooms %>
</div>
<div class="badge badge bg-light text-muted px-2 py-1 me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= t('activerecord.attributes.room.num_beds') %>">
  <i class="fas fa-bed me-2"></i><%= room.num_beds %>
</div>
<div class="badge badge bg-light text-muted px-2 py-1 me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= t('activerecord.attributes.room.num_baths') %>">
  <i class="fas fa-bath me-2"></i><%= room.num_baths %>
</div>
