<div class="col-12 col-md-6">
  <%= link_to room_path(room, locale: @page_lang) do %>
    <div class="card p-3 mb-3">
      <div class="d-flex flex-column flex-md-row">
        <div>
          <div class="rounded-3 bg-image bg-light p-3" style="width: 10rem; height: 10rem; background-image: url('<%= url_for(room.main_image&.variant(resize_to_fit: [500, 500])) %>');"></div>
        </div>

        <div>
          <div class="card-body p-2 ps-md-4">
            <h5 class="card-title"><%= room.title %></h5>
            <p class="card-text"><small><%= room.location %></small></p>

            <div class="d-flex flex-row mb-3">
              <%= render "rooms/numbers", room: room %>
            </div>

            <div>
              <div class="d-flex flex-row">
                <div>
                  <span class="text-primary fw-bold text-big"><%= currency_str(room.day_price) %> </span><%= I18n.t('rooms.per_day') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
