<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-5">
    <h1 class="mb-0 fw-bold"><%= t('rooms.title') %></h1>

    <div>
      <% if policy(:room).new? %>
        <%= link_to I18n.t('rooms.new'), new_room_path, :class => 'btn bg-primary text-white' %>
      <% end %>
    </div>
  </div>

  <div>
    <%= render @objects %>
  </div>

  <% if @objects.length == 0 %>
    <div class="text-muted"><%= t('rooms.empty') %></div>
  <% end %>

  <div>
    <%= paginate @objects %>
  </div>
</div>
