<!DOCTYPE html>

<html lang="fr">
  <%= render "layouts/head" %>

  <body id="page">
    <%= render "layouts/nav" %>
    <%= render "layouts/notice" %>
    <%= render "layouts/modal" %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
